<h1>Ruby Calculator</h1>
<p>The answer of your calculation: </p>
<p>
  <%= @answer %>
</p>
<button onclick="goBack()">Go Back</button>
<script>
    function goBack() {
        window.history.back();
    }
</script>
